.scroll-container-wrapper-small {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px; /* Center nav buttons vertically */
    width: 100%;
    z-index: 500;
    
  }
  
  .scroll-container-small {
    display: flex;
    /* position: absolute; */
    /* left:-10%;
    top:-40%; */
    left:69%;
    top:10%;
    overflow-x: auto;
    gap: 10px;
    white-space: nowrap;
    /* width:85vw; */
    width: 25vw;
    overflow-y: hidden;
    /* background-color: blue; */
  }
  
  .scroll-container-small::-webkit-scrollbar {
    display: none; /* Hide scrollbar in WebKit browsers */
  }
  
  .scroll-container-small {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
  }
  
  .button {
    background-color: #e6e8ea;
    border: none;
    color: black;
    min-width: 150px; /* Ensure buttons have a minimum width */
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    min-width: 60px; /* Minimum width to maintain button size */
    max-width: 200px; /* Maximum width to prevent excessive stretching */
    flex: 0 0 auto; /* Prevent flex item from growing or shrinking */
    cursor: pointer;
    border-radius: 10px;
  }
  
  .nav-button-small {
    position: absolute;
    width:35px;
    height:35px;
    top:0%;
    /* top: 11.6%; */
    background-color: white; 
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .nav-button-small:hover {
    background-color: #e6e8ea;
  }
  
  .prev-button-small {
    left: 0%;
  }
  
  .next-button-small {
    right: 7%;
  }
  
  