.shortsparent {
  /* position:absolute;
    top:300px;
    left:7%; */
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  /* background-color: aqua; */
}

.shortsparent.menu-open {
  width: 77vw;
}

.shortshead {
  width: 90vw;
  height: 100%;
  /* background-color: rgb(45, 204, 24);   */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shortshead.menu-open {
  width: 77vw;
}
.shortsparent .headleft {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 10px;
}

.img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  /* background-color: brown;   */
}

.image {
  width: 25px;
  height: 25px;
  display: flex;
}

.shortscontent {
  width: 90vw;
  max-height: 80vh;
  /* max-height:600px; */
  /* height: 95vh; */
  overflow: hidden;
  /* background-color: blue;  */
  transition: max-height 0.5s ease-in-out;
}
.shortscontent.menu-open{
  width:77vw;
  /* background-color: blueviolet; */
}
.shortvideogrid.menu-open {
  width: 100%;


}

.shortvideogrid {
  width: 100%;
  height: auto;
  display: grid;
  grid-column-gap: 10px; /* 20px gap between columns */
  grid-row-gap: 0px; /* 15px gap between rows */
  grid-template-columns: repeat(5, 1fr);
  /* background-color: aqua; */
}
.undo-message {
  display: flex;
  gap: 30px;
  font-size: medium;
}

.undo-message button {
  border: none;
  cursor: pointer;
  font-size: medium;
  text-decoration: none;
  color: blue;
}

.shortscontent.expanded {
  max-height: 170vh;
  /* max-height: 1500px; Adjust to ensure all content is visible */
}

.showmore {
  text-align: center;
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.custom-hr-left {
  width: 36%;
  height: 0.1px;
  position: absolute;
  left: 0;
  top: 10;
  border: 0.1px solid lightgrey; /* Removes default border */
}
.custom-hr-left.menu-open{
  width:33.8%;
}
.custom-hr-right.menu-open{
  width:33.8%;
}
.custom-hr-right {
  width: 36%;
  position: absolute;
  right: 0;
  top: 10;
  border: 0.1px solid lightgrey; /* Removes default border */
}

.showmore button {
  padding: 10px 130px;
  color: black;
  background-color: white;
  border: 0.1px solid lightgrey;
  border-radius: 50px;
  cursor: pointer;
  font-size: medium;
}

.showmore button:hover {
  background-color: lightgrey;
}
