.videoinfo {
  height: 18vh;
  width: 35vw;
  /* background-color: rgb(31, 224, 14); */
  display: flex;
  gap: 3px;
}

.video-image {
  width: 95%;
  height: 100px;
  border-radius: 15px;
  object-fit: cover;
  /* background-color: black; */
}
.image-desc {
  width: 15vw;
  height: 15vh;
  /* background-color: rgb(27, 38, 194); */
}
.dots {
  width: 1.5vw;
  height: 5vh;
  /* background-color: azure; */
}
.image-desc h4 {
  font-size: 14px;
}
.image-desc p {
  font-size: small;
}
