.videoinfo{
    height:17vh;
    width:30vw;
    /* background-color: rgb(14, 224, 224); */
    display:flex;
    gap:7px;
}

.image{
    width:20vw;
    height:15vh;
    border-radius: 10px;
    /* background-color: black; */

}
.image-desc{
    width:30vw;
    height:15vh;
    /* background-color: rgb(27, 38, 194); */
}
.dots{
    width:3.5vw;
    height:3.5vh;
    /* background-color: azure; */
}
.image-desc h4{
    font-size: 14px;
}
.image-desc p{
    font-size: small;
}