.WatchContainer {
  position: fixed;
  top: 15%;
  left: 7%;
  display: flex;
  width: 90vw;
  height: 7%;
  /* background-color: blanchedalmond; */
}
.WatchContainer.menu-open {
  /* position: relative; */
  width: 85vw;
  left: 21%;
} 

.menuwatch {
  display: flex; /* Aligns children (buttons) in a row */
  gap: 10px;
}
.all{
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    background-color:rgb(102, 99, 99); /* Button background color */
    color: white; /* Button text color */
    font-size: 16px; /* Font size */
    cursor: pointer;
    border-radius: 5px; /* Optional: rounded corners */
    transition: background-color 0.3s; /* Smooth transition */  
}
/* Hover effect */
.all:hover {
    background-color: grey; /* Background color when hovered */
    
}
